# dependencies
node_modules/

# build
dist/
build/

# env files (DO NOT COMMIT)
.env
.env.local
.env.production
.env.development

# Firebase
.firebase/
firebase-debug.log
firebase.jsx

# OS / editor
.DS_Store
.vscode/